/* importing fonts */

@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');


/* default css for all the elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Red Rose', cursive;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./pexels-maxyne-barcel-10402282\ 1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*  a tags */
a{
    text-decoration: none;
}

/* nav bar button */
button{
    cursor: pointer;
    background-color: #ff505f;
    width: fit-content;
    padding: 12px 25px;
    border-radius: 3px;
    border-color: #ff505f;
}



button a{
    color: #ffffff;
    font-weight: 600;
}

/* nav bar */

nav{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    width: 40vw;
}

.logo img{
    width: 120px;
}

li a{
    color: #ffc233;
    font-size: 20px;

}

/* main section */

section main{
    display:flex;
    flex-direction: column;
    align-items: center;
}

/*  main section-button */


main button{
    padding: 20px 40px;
    margin-top: 20px;
}

#main-button{
    font-size: 17px;
}

.main-content{
    font-size: 80px;
    color: #ffc233;
}

/* footer */

footer{
    align-self: flex-end;
    margin: 20px 30px;
}

footer img{
    width: 150px;
    height: 150px;
}

/* making button hover */

/* button:hover{
    display : relative;
    top:10px;
    transition: ease-in;
    transition-duration: 1s;
} */
